body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  background: #fff;
  padding: 20px 40px; /* 패딩을 조정하여 위에 공간 확보 */
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.quick-nav {
  display: flex;
  justify-content: center;
  gap: 5px;  /* 버튼 간의 간격 */
  margin-bottom: 0px;  /* 문제 위에 위치 */
  padding: 0px 0;
  background: #fff;
  border-radius: 15px;
}

.quick-nav button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.quick-nav button:hover {
  background-color: #1C86EE;
}

h1 {
  background: #1E90FF;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 0;  /* 상단 여백 제거 */
}

.answer-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  gap: 20px;
}

.answer-input {
  width: 100px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  margin: 0 10px;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

.wide-input {
  width: 300px;
}

button {
  font-size: 24px;
  padding: 15px 30px;
  margin: 15px;
  background: linear-gradient(135deg, #4CAF50, #45a049);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s;
}

button:hover {
  background: linear-gradient(135deg, #45a049, #4CAF50);
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#result {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}

.hint {
  color: #ff0000;
  font-style: italic;
  margin-top: 20px;
}
